.dart_tool/
.packages
build/
.pub-cache/
.pub/
*.iml
.idea/
.vscode/
local.properties
**/GeneratedPluginRegistrant.java
**/GeneratedPluginRegistrant.swift
.flutter-plugins
.flutter-plugins-dependencies
